@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    background: url(/image/vista_panorama.jpg) no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
.Foto{
    width: 180px;
   
    
}

.box{
    background-image: url(/image/vista_panorama.jpg);
    width: 500px;
    background: rgb(0, 0, 0, .4);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color:white;
    text-align: center;
    border-radius: 15px;
}

.box-img {
    border-radius:50% ;

}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
}

.box h2{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
}

